/*
 * CSS File for the solution
 * Final Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *
 * #cdb4db - Lavender Purple
 * #ffc8dd - Pink
 * #ffafcc - Light Pink
 * #bde0fe - Light Blue
 * #a2d2ff - Light Blue
 * #0c0a3e - Dark Purple
 * #797979 - Grey
 *
 * https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
 */

/*
 * FOR YOUR DESKTOP VIEWPORT I WOULD RECOMMEND THE FOLLOWING MEDIA QUERY
 *
 * @media screen and (min-width: 800px) {
 *    ... your styles here ...
 * }
 */

 html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: #f7ead7;
}

/*
 * SR-ONLY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
 }


/*
 * SHARED STYLES
 */

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.0rem;
}

/*
 * ADD YOUR STYLES HERE
 */

 .header-container {
  margin: 200px;
 }

 .website-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 8px;
  padding: 3px;
 }

 .header-btn {
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 20px;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 8px;
 }

 .hero-container {
  margin: 40px;
  justify-content: center;
  text-align: center;
 }

 .hero-title {
  font-size: 100;
 }

 .hero-p {
  color:gray;
 }

 .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
 }

 .item {
  padding: 30px;
  border-radius: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-weight: 900;
 }

 .g-one {
  grid-row: span 2;
  grid-column: span 2;
  background-color: plum;
 }

 .g-two {
  background-color: pink;
 }

 .g-three {
  background-color: palevioletred;
 }

 .g-four {
  grid-column: span 2;
  background-color: paleturquoise;
 }

 .g-five {
  grid-column: span 2;
  background-color: powderblue;
 }

 .g-six {
  grid-column: span 2;
  background-color: peachpuff;
 }

 .about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
 }

 .about-img {
  flex: 1;
  max-width: 50%;
  height: 500px;
  width: 700px;
  overflow: hidden;
  border-radius: 15px;

 }

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.about-me-text {
flex: 1;
max-width: 50%;
padding: 0 20px;
}

.about-me-text h2 {
  margin-bottom: 10px;
}

.about-me-text p {
margin-bottom: 20px;
}

.about-contact-btn {
  padding: 15px;
  background-color: pink;
  color: black;
  border: none;
  font-weight: 650;
  border-radius: 7px;
  cursor: pointer;
}

.my-work-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.work-item {
  padding: 10px;
}

.work-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 9px;
  border: 6px solid black;
}